# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Virtual environment
venv/
env/
.venv/
.env/

# IDE/editor files
.vscode/
.idea/

# Static and media files (optional, if generated locally)
staticfiles/
media/

# OS files
*.DS_Store
Thumbs.db
